/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TYPOGRAPHY */
body{
    font-family: 'Roboto', sans-serif;
}

/* LAYOUT */
.container{
    width: 1000px;
    background-color: rgb(185, 20, 80);
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}

/* Box calcolo biglietto */
.box-ticket-data{
    width: 80%;
    background-color: white;
    height: 200px;
    border-radius: 10px;
    margin: auto;
}
.input-style{
    border-radius: 5px;
    border: 2px solid rgb(185, 20, 80);
    padding: 5px 0;
    text-align: center;
}
.button-style{
    background-color: lightgray;
    color: rgb(185, 20, 80);
    padding: 7px 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: medium;
    transition: border;
}

.button-style:hover{
    border: 2px solid orange;
}

/* Box generatore biglietto */
.box-ticket{
    background-color: white;
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 20px;
}
.ticket-details{
    height: 80%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}


/* UTILITIES */
.d-flex{
    display: flex;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.d-block{
    display: block;
}
.d_none{
    display: none;
}
.txtcenter{
    text-align: center;
}
.mtb-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.m-x-20{
margin-right: 20px;
margin-left: 20;
}
.height50{
    height: 50%;
}
.pad70{
    padding-left: 70px;
    padding-right: 70px;
}
.pad-20{
    padding: 20px;
}
.p-t-30{
    padding-top: 30px;
}
.text-color{
    color: rgb(185, 20, 80);
}
.bg-color-gray{
    background-color: gray;
}
.column{
    flex-direction: column;
}
.color-white{
    color: white;
}
.bg_color_white{
    background-color: white;
}
.color_blue{
    color: blue;
}